html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}

#renderCanvas {
	width: 100%;
	height: 100%;
	touch-action: none;
}

#overlayBox {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(1,1,1,0.6);
	text-align: center;
	color: white;
	padding-top: 4%;
}

p {
	max-width: 767px;
	margin: 0 auto;
	padding: 10px 15px;
	font-size: 1em;
}

span {
	max-width: 767px;
	margin: 50px auto 0 auto;
	padding: 15px 15px 0 15px;
	font-size: 2em;
	font-weight: bold;
}

#infoBar   {
	position:relative;
	float:right;
	top:0;
	right:0;
	min-width:0;
	color: white;
}

#infoBar #info {
	position:absolute;
	z-index: 300;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 15px;

}
